snippet copyright "copyright info" b
/*************************************************************************
	> Copyright (c) `date +"%Y"` Netcan
	> File Name: `!p snip.rv = fn`
	> Blog: https://netcan.github.io/
	> Mail: netcan1996@gmail.com
************************************************************************/
$0
endsnippet
